<!-- templates/listar_familias.html -->
{% extends 'base.html' %}

{% block title %}Listar Famílias - Cesta Digital{% endblock %}

{% block content %}
    <h2>Listar Famílias</h2>
    <div class="table-container">
        <table>
            <tr>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>CEP</th>
                <th>Telefone</th>
                <th>Renda Familiar</th>
                <th>Situação de Pobreza</th>
                <th>Ações</th>
            </tr>
            {% for familia in familias %}
            <tr>
                <td>{{ familia.nome }}</td>
                <td>{{ familia.endereco }}</td>
                <td>{{ familia.cidade }}</td>
                <td>{{ familia.estado }}</td>
                <td>{{ familia.cep }}</td>
                <td>{{ familia.telefone }}</td>
                <td>R$ {{ '%.2f' % familia.renda_familiar }}</td>
                <td>
                    {% if familia.is_pobreza() %}
                        <span class="status-pobreza">Pobreza</span>
                    {% else %}
                        <span class="status-nao-pobreza">Acima da Linha de Pobreza</span>
                    {% endif %}
                </td>
                <td>
                    <div class="action-buttons">
                        <a href="{{ url_for('editar_familia', familia_id=familia.id) }}" class="edit-button">Editar</a>
                        <form action="{{ url_for('excluir_familia', familia_id=familia.id) }}" method="POST">
                            <button type="submit" class="delete" onclick="return confirm('Tem certeza que deseja excluir esta família?')">Excluir</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
