<!-- templates/register.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Cadastro</h1>
    </header>
    <div class="container">
        <form action="{{ url_for('register') }}" method="POST">
            <div class="form-group">
                <label for="nome">Nome de usuário:</label>
                <input type="text" name="nome" id="nome" required>
            </div>
            <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="password" name="senha" id="senha" required>
            </div>
            <div class="button-group">
                <button type="submit">Registrar</button>
                <button type="reset" class="reset">Limpar</button>
            </div>
        </form>
        <div class="button-group">
            <p>Já tem uma conta? <a href="{{ url_for('login') }}" class="button">Faça login</a></p>
        </div>
    </div>
</body>
</html>
